@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-gray-1: #dadbdc;
  --color-gray-2: #616670;
  --color-gray-3: #dcdcdc;
  --color-gray-4: #1d1f25;

  --color-blue-1: #176ee0;
}
